<footer class="footer">
      <div class="wrapper">
        <p>Francois Coron | Designer Web &amp; Développeur Front End</p>
        <p>© 2014 - Tous droits Réservés  —  Made with<i class="fa fa-heart"></i>by<a href="/" title="Francois Coron">Francois Coron</a></p>
      </div>
    </footer>
<script src="http://chimps-design.com/js/libs/jquery.min.js"></script>
<script src="http://chimps-design.com/js/libs/jquery.animsition.min.js"></script>
<script src="http://chimps-design.com/js/main.js"></script>